.board-square {
  width: 30px;
  height: 30px;
  border: 1px solid red;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
  gap: 40px;
  justify-content: center;
}

.ship {
  background-color: aqua;
}

.hit {
  background-color: lightpink;
}

.miss {
  background-color: gray;
}

#setup-area {
  min-width: 80vw;
  height: 300px;
  border: 1px black solid;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.place-ship {
  background-color: violet;
}

.attack-highlight {
  border-color: yellow;
}